* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1 {
    font-size: 3vw;
}
h2 {
    font-size: 2vw;
}
h3 {
    font-size: 1vw;
}
a {
    color: #f08080;
}
ul {
    margin: 2vw;
}

.logo {
    background-color: #262626;
    background-image: url('./logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#nav {
    width: 100vw;
    height: 5vw;
    background-color: #262626;

    position: fixed;
    z-index: 1;
}

#nav > .logo {
    width: 5vw;
    height: 5vw;
}

#content {
    scroll-behavior: smooth;
    color: #262626;
    font-size: 1.5vw;
}

.page {
    width: 100vw;
}

#main > .logo {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./logo.png');
    background-attachment: fixed;

    text-align: center;
}

#main > .logo > h1, #main > .logo > h2, #main > .logo > h3 {
    width: 100vw;
    position: relative;
    top: calc(50vh - 3vw);
    color: #707070;
}

#main > .logo > h1 {
    color: #fafafa;
}

.card {
    margin-top: 6vw;

    text-align: center;
}

#description > .card {
    padding-bottom: 6vw;
    width: 100vw;
    border-bottom: 3px solid #262626;
}

#description > h1, #members > h1 {
    padding: 2vw;
    border-bottom: 3px solid #262626;
}

#description > .card > h2 {
    line-height: 100vh;
}

#members {
    background-color: #262626;
}

#members > h1 {
    color: #fafafa;
}

#member-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.member.card {
    margin: 1.5vw;
    padding: 5vw;
    width: 30vw;
    background-color: #fafafa;
    border-radius: 5vw;

    overflow: visible;
}

.rank {
    width: 10vw;
    height: 4vw;
    border: 5px solid #262626;
    border-radius: 5vw;
    box-sizing: content-box;

    line-height: 4vw;
    font-weight: bolder;

    position: relative;
    top: -7vw; left: -1.75vw;
}

.info {
    position: relative;
    top: -4vw;
}