* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1 {
    font-size: 8vw;
}
h2 {
    font-size: 5vw;
}
h3 {
    font-size: 4vw;
}
a {
    color: #f08080;
}
ul {
    margin: 5vw;
}

.logo {
    background-color: #262626;
    background-image: url('./logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#nav {
    width: 100vw;
    height: 15vw;
    background-color: #262626;

    position: fixed;
    z-index: 1;
}

#nav > .logo {
    width: 15vw;
    height: 15vw;
}

#content {
    scroll-behavior: smooth;
    color: #262626;
    font-size: 4vw;
}

.page {
    width: 100vw;
}

#main > .logo {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./logo.png');
    background-attachment: fixed;

    text-align: center;
}

#main > .logo > h1, #main > .logo > h2, #main > .logo > h3 {
    width: 100vw;
    position: relative;
    top: calc(50vh - 8vw);
    color: #707070;
}

#main > .logo > h1 {
    color: #fafafa;
}

.card {
    margin-top: 15vw;

    text-align: center;
}

#description > .card {
    padding-bottom: 15vw;
    width: 100vw;
    border-bottom: 3px solid black;
}

#description > h1, #members > h1, #jungmo > h1 {
    padding: 5vw;
    border-bottom: 3px solid black;
}

#description > .card > h2 {
    line-height: 100vw;
}

#members {
    background-color: #262626;
    display: grid;
}

#members > h1 {
    color: #fafafa;
}

.member.card {
    margin: 5vw;
    padding: 10vw;
    width: 90vw;
    background-color: #fafafa;
    border-radius: 10vw;
    
    overflow: visible;
}

.rank {
    width: 30vw;
    height: 12vw;
    border: 5px solid #262626;
    border-radius: 12vw;
    box-sizing: content-box;

    line-height: 12vw;
    font-size: 5vw;
    font-weight: bolder;

    position: relative;
    top: -14vw; left: -5.25vw;
}

.info {
    position: relative;
    top: -5vw;
    overflow-x: visible;
}

#jungmo > .card {
    margin-bottom: 30vw;
}